<!-- Header -->
<header class="bg-primary sticky-top shadow-sm">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-2">
        <a href="/" class="logo text-dark h5">
          <img src="/assets/bitwise-white.png" alt="Bitwise Solutions Logo" style="height: 100px;" />
        </a>
      </div>
      <div class="col-lg-10">
        <nav class="navbar navbar-expand-lg navbar-light">
          <div class="collapse navbar-collapse" id="navbarContent">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item"><a href="#services" class="nav-link">Serviços</a></li>
              <li class="nav-item"><a href="#features" class="nav-link">Sistemas</a></li>
              <li class="nav-item"><a href="#contact" class="nav-link">Contato</a></li>
            </ul>
          </div>
        </nav>
      </div>
    </div>
  </div>
</header>


<!-- Vídeo de Fundo -->
<section class="video-section">
  <div class="video-overlay">
    <video autoplay muted loop class="video-background">
      <source src="/assets/working.mp4" type="video/mp4">
      Seu navegador não suporta o vídeo.
    </video>
    <div class="video-content">
      <h1 class="text-light display-4 font-weight-bold">Transforme Sua Empresa com Nossas Soluções</h1>
      <p class="text-light-50 mt-3">Inovações personalizadas para web e mobile, desenvolvidas para otimizar sua
        operação.</p>
      <a href="#contact">Saiba Mais</a>
    </div>
  </div>
</section>


<!-- Serviços Section -->
<section id="services" class="section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-12 text-center">
        <h2 class="section-title mb-4">Nossos Serviços</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-6">
        <div class="service-box bg-white text-center rounded shadow p-4">
          <h4 class="service-title font-weight-bold">Desenvolvimento Web</h4>
          <p class="text-muted">Construímos soluções web personalizadas para atender às suas necessidades de negócios.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="service-box bg-white text-center rounded shadow p-4">
          <h4 class="service-title font-weight-bold">Desenvolvimento Mobile</h4>
          <p class="text-muted">Criamos aplicativos móveis otimizados para oferecer uma experiência de usuário
            excepcional.</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="service-box bg-white text-center rounded shadow p-4">
          <h4 class="service-title font-weight-bold">Consultoria de TI</h4>
          <p class="text-muted">Oferecemos consultoria estratégica especializada para ajudá-lo a alcançar seus objetivos tecnológicos.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Funcionalidades Section -->
<section id="features" class="section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-12 text-center">
        <h2 class="section-title mb-6">Sistemas Desenvolvidos para você!</h2>
      </div>
    </div>
    <div class="row">

      <div class="col-lg-8 col-md-12">
        <div class="features-box">
          <img src="/assets/erp.png" alt="Descrição da Imagem">
          <div class="description">
            <h4>ERP</h4>
            <p>Gerencie propriedades e clientes de forma eficiente com nosso ERP especializado para o setor imobiliário.
              Acesso a informações detalhadas de imóveis e clientes em um só lugar.</p>
            <p>Aumente a produtividade com ferramentas dedicadas para agendamento de visitas, gerenciamento de contratos
              e integração com portais imobiliários.</p>
            <p>Otimize a comunicação com clientes e mantenha o controle financeiro e administrativo com relatórios
              personalizados e análises detalhadas.</p>

          </div>
        </div>
      </div>

      <div class="col-lg-8 col-md-12">
        <div class="features-box">
          <img src="/assets/ecommerce.png" alt="Descrição da Imagem">
          <div class="description">
            <h4>Ecommerce Web</h4>
            <p>Transforme sua loja online com nossa plataforma de ecommerce completa. Configure seu catálogo de produtos, gerencie pedidos e controle o estoque com facilidade.</p>
            <p>Ofereça uma experiência de compra intuitiva com opções de pagamento seguras e integração com diversos métodos de envio.</p>
            <p>Acompanhe o desempenho da sua loja com relatórios detalhados e ajuste suas estratégias de vendas para maximizar o sucesso do seu negócio online.</p>            
          </div>
        </div>
      </div>


      <div class="col-lg-8 col-md-12">
        <div class="features-box">
          <img src="/assets/pdv-mobile.png" alt="Descrição da Imagem">
          <div class="description">
            <h4>PDV Mobile</h4>
            <p>Melhore a eficiência das suas vendas com nosso sistema de ponto de venda (PDV) móvel. Realize transações de forma rápida e segura diretamente do seu dispositivo móvel.</p>
            <p>Ofereça um atendimento mais ágil com funcionalidades como leitura de códigos de barras, geração de recibos e controle de estoque em tempo real.</p>
            <p>Facilite a gestão do seu negócio com relatórios e análises acessíveis, permitindo ajustes rápidos nas operações e melhorando a experiência do cliente.</p>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>

<!-- Testemunhos Section -->
<section id="testimonials" class="section bg-light">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-12 text-center">
        <h2 class="section-title mb-4">Um pouco sobre a Bitwise Solutions</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <div class="testimonial-box bg-white text-center rounded shadow p-4">
          <p class="text-muted">A Bitwise Solutions é uma empresa dedicada ao desenvolvimento de sistemas web e mobile sob demanda. Nossa missão é fornecer soluções tecnológicas personalizadas que atendam às necessidades específicas de cada cliente, garantindo inovação, eficiência e qualidade em cada projeto.</p>
          <a href="https://forms.gle/1XCH1vXTPMXmF5Hq6" class="btn btn-primary">Inscreva-se para Testes</a>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="testimonial-box bg-white text-center rounded shadow p-4">
          <p class="text-muted">
            Queremos ouvir você! Participe de testes de nossos novos softwares e ajude-nos a melhorar nossos produtos. Ao se inscrever, você terá a oportunidade de experimentar novas funcionalidades antes de qualquer outra pessoa e contribuir para a criação de soluções ainda mais eficazes.
          </p>
          <a href="https://forms.gle/1XCH1vXTPMXmF5Hq6" class="btn btn-primary">Inscreva-se para Testes</a>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Footer -->
<footer id="contact" class="footer">
  <div class="container text-center">
    <div class="row">
      <div class="col-lg-12">
        <ul class="list-unstyled social-icon social mb-0">
          <li class="list-inline-item">
            <a href="https://wa.me/85987533433" class="text-white" aria-label="WhatsApp">
              <i class="fab fa-whatsapp"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="https://www.linkedin.com/in/jarmison-paiva" class="text-white" aria-label="LinkedIn">
              <i class="fab fa-linkedin"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="https://www.instagram.com/undervolt7" class="text-white" aria-label="Instagram">
              <i class="fab fa-instagram"></i>
            </a>
          </li>
        </ul>
        <p class="text-white mt-3">&copy; 2024 Bitwise Solutions. Todos os direitos reservados.</p>
      </div>
    </div>
  </div>
</footer>
